:root {
    --video: #ff0000;
    --stream: #9146ff;
    --podcast: #1db954;
}

body {
    background-color: #121212;
    text-align: center;
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search {
    width: 33%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
}

#search::placeholder {
    color: #888;
}

#containers {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    justify-content: center;
    flex: 1;
}

#detailed {
    display: flex;
    position: sticky;
    top: 10px;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    width: 638px;

    background-color: #fcfcfc;
    background-repeat: no-repeat;

    margin-right: 25px;
}

#detailed.empty {
    display: none;
}

#detailed-info {
    overflow-y: scroll;
    width: 100%;
}

#detailed-datetime {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#detailed-datetime span {
    margin: 0 10px;
}

#detailed.video {
    border: 3px solid var(--video);
}

#detailed.stream {
    border: 3px solid var(--stream);
}

#detailed.podcast {
    border: 3px solid var(--podcast);
}

#detailed-banner-space {
    width: 639px;
    height: 360px;
}

#detailed .card-media-type {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

#detailed-title {
    font-size: 32px;
    font-weight: 900;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.detailed-line {
    width: 95%;
    height: 2px;
    background-color: #848484;
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.detailed-line-text {
    position: absolute;
    margin: auto;
    display: inline-block;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}


#detailed-description {
    font-family: "Roboto", "Arial", sans-serif;
    text-align: left;
    margin: 30px 20px 20px 20px;
}


.detailed-tag {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #5a5a5a;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;

}

/* --- CARDS --- */

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    color: #fff;
    /* background-size: cover; */
    width: 320px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    text-align: left;
    cursor: pointer;
}

.card-thumbnail {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;

    /* Text border black */
    /* text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; */

    border: 2px solid var(--stream);
    position: relative;
}

.video .card-thumbnail {
    border-color: var(--video);
}

.stream .card-thumbnail {
    border-color: var(--stream);
}

.podcast .card-thumbnail {
    border-color: var(--podcast);
}

.card-media-type {
    background-color: red;

    position: absolute;

    font-size: 16px;
    font-weight: 700;

    padding-left: 2px;
    padding-right: 2px;

    right: 0;

    border-bottom-left-radius: 5px;
    color: white;
}

.video .card-media-type {
    background-color: var(--video);
}

.stream .card-media-type {
    background-color: var(--stream);
}

.podcast .card-media-type {
    background-color: var(--podcast);
}

.card-thumbnail-info {
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
}

.card-date {
    padding: 2px;
    border-bottom-right-radius: 5px;
}

.card-duration {
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 5px;
    padding: 2px
}

.card-media-icons {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    border-radius: 2px;
    display: flex;
}

.card-media-link {
    margin: 0;
}

.card-media-icon {
    display: block;
}

.card-media-link:last-child .card-media-icon {
    border-top-right-radius: 5px;
}

.card-info {
    margin: 0
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-description {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    margin-top: 8px;
    height: 62px
}

footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
}