// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}