// Import all of Bootstrap's CSS
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap-icons/font/bootstrap-icons.css";

$new-font-sizes: (
  7: 0.75rem,
);
$new-grid-breakpoints: (
  3xl: 1750px,
  4xl: 2075px,
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);
$grid-breakpoints: map-merge($grid-breakpoints, $new-grid-breakpoints);

@import "bootstrap/scss/bootstrap";

html :not(.hide-scrollbar) {
  scrollbar-color: #aaa transparent;
}

.hide-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-yt {
  color: #ff0000 !important;
}
.border-yt {
  border-color: #ff0000 !important;
}
.bg-yt {
  background-color: #ff0000 !important;
}
.text-tw {
  color: #6441a5 !important;
}
.border-tw {
  border-color: #6441a5 !important;
}
.bg-tw {
  background-color: #6441a5 !important;
}

[data-bs-theme="dark"] {
  --bs-body-bg-rgb: 15, 15, 15;
  --bs-body-bg: #000000;
}

input[type="checkbox"],
input[type="checkbox"] + label {
  cursor: pointer;
}

//------------ ROUNDED BUTTONS ----------------//
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &.btn-sm {
    width: 30px;
    height: 30px;
  }

  &.btn-lg {
    width: 50px;
    height: 50px;
  }

  &.btn-xl {
    width: 70px;
    height: 70px;
  }
}

//------------ SMALL MODAL ----------------//
@media (max-width: 575px) {
  .modal-xs {
    --bs-modal-width: 300px;
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 656px) {
  .btn-dark.bg-trans {
    background-color: transparent;
  }
}

[data-bs-theme="dark"] {
  .mobile-menubar {
    background: rgba(0, 0, 0, 0.9);
  }
  .card {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .btn-dark {
    --bs-btn-color: #f1f1f1;
    --bs-btn-bg: rgba(255, 255, 255, 0.1);
    --bs-btn-border-color: rgba(255, 255, 255, 0.1);
    --bs-btn-hover-color: #f1f1f1;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.2);
    --bs-btn-hover-border-color: rgba(255, 255, 255, 0.2);
    --bs-btn-active-color: #0f0f0f;
    --bs-btn-active-bg: #f1f1f1;
    --bs-btn-active-border-color: #f1f1f1;
  }
  .accordion {
    --bs-accordion-bg: transparent;

    --bs-accordion-color: var(--bs-body-color);

    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: var(--bs-body-color);
    --bs-accordion-active-bg: transparent;
    .accordion-header:hover {
      background-color: #2c2c2c;
    }
  }
}

[data-bs-theme="light"] {
  .mobile-menubar {
    background: rgba(255, 255, 255, 0.9);
  }
  .card {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .btn-dark {
    --bs-btn-color: #0f0f0f;
    --bs-btn-bg: rgba(0, 0, 0, 0.05);
    --bs-btn-border-color: rgba(0, 0, 0, 0.05);
    --bs-btn-hover-color: #0f0f0f;
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.1);
    --bs-btn-hover-border-color: rgba(0, 0, 0, 0.1);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0f0f0f;
    --bs-btn-active-border-color: #0f0f0f;
  }
}
